.note {
  padding: 10px;

  position: relative;

  & button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    position: absolute;
    top: -10px;
    right: -10px;

    color: rgb(205, 40, 40);
  }
}
