.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  position: relative;
}

.closeButton {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  font-size: 24px;
  cursor: pointer;

  border-radius: 50%;
  border: 1px solid black;

  color: rgb(205, 40, 40);
  background: inherit;
}
